head, body {
    font-family: 'Lora', serif !important;
    min-width: 500px !important;
}
#about, #contact {
    min-height: 500px;
}
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f139";
}
#notyet {
    min-height: 25px;
}
.besar {
    font-size: 19pt;
}
.jumbotron {
    background-image: url(../img/bg-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    overflow: hidden;
}
.jumbotron img {
    width: 20%;
    border: 5px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 10px rgba(92, 10, 10, 0.8);
}
.jumbotron h1, .jumbotron p {
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.8);
}
.base.Show {
    opacity: 1;
    transform: rotate3d();
    transition: 3s;
}
.pKiri {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 3s;
}
.pKanan {
    opacity: 0;
    transform: translate(50px, 0) rotate(-15deg);
    transition: 3s
}
.pKiri.pShow, .pKanan.pShow {
    opacity: 1;
    transform: translate(0, 0);
}
.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 3s;
}
.portfolio .thumbnail.show{
    opacity: 1;
    transform: translate(0, 0);
}
.grey {
    color: #999;;
}
.gold {
    color: #EDBB00;
}
.black {
    color: black;
}
.blue {
    color: #004D98;
}
.bg-blue {
    background-color: #00ACED !important;
}
.bg-grey {
    background-color: #333333;
}
a, a:hover {
    color: black;
    text-decoration: none !important;
}






/* adds some margin below the link sets  */
/* .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
 } */

 .navbar .dropdown-menu {
   border:none;
   background-color:#00ACED !important;
 }

 /* breakpoint and up - mega dropdown styles */
 @media screen and (min-width: 400px) {

   /* remove the padding from the navbar so the dropdown hover state is not broken */
 /* .navbarbar {
   padding-top:8px;
   padding-bottom:15px;
   font-size: 17px;
 } */

 /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
 /* .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem; */
 }

 /* makes the dropdown full width  */
 /* .navbar .dropdown {position:static;} */

 /* .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
   top:45px;

   display:block;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s linear;

 } */
   /* shows the dropdown menu on hover */
 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s;
 }
 .dropdown-item:hover    {
    background-color: rgb(117, 177, 199) !important;
 }

   .navbar .dropdown-menu {
     border: 1px solid rgba(0,0,0,.15);
   }

 }
